
.main-navbar{
  height: 70px;
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  align-items: center;
  background: #DA5C5C;
  flex-direction: row;
  justify-content: space-between;
}
.container_navbar{
  display: flex;
  align-items: center;
  width: 1000px;
}
.content_navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #DA5C5C;
  color: #FFFFFF;
  border: 0;
}

.logo-text{
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  margin-left: 1px;
}

.make-login-image{
  align-self: center;
  height: 30px;
  width: 70px;
  background:#DA5C5C;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
.make-login-image:focus {
  outline: none;
}
.make-login-image:hover {
  background-color: #ec6f6f;
  transform: scale(1.01);
}
.make-orders-image{
  align-self: center;
  height: 60px;
  width: 70px;
  background:#DA5C5C;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
.make-orders-image:focus {
  outline: none;
}
.make-orders-image:hover {
  background-color: #ec6f6f;
  transform: scale(1.01);
}